@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {

    font-family: 'Press Start 2P', cursive;
    --White: rgba(228, 238, 249, .5);
    --border-blur: solid 4pxrgba(255, 255, 255, .5);
    --box-shadow: 020px30px4pxrgba(0, 0, 0, .2);
    --text: #F1EDED;
}

body {
    background-image: url(../assets/latias-pixel-art-clouds-pokemon-wallpaper-preview.jpg);
    /* background-color: whitesmoke; */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

}

.titulo {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #ff0000, #ee9f9f);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.tarjeta-mascota {
    width: 252px;
    height: 252px;
    background: whitesmoke;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tarjeta-mascota img {
    width: 250px;
    height: 250px;
    margin-top: -37px;
}



.tarjetas,
.ataque {
    display: flex;
    justify-content: center;
    gap: 10px;
}


label {
    padding-top: 10px;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 1.375rem;
    -webkit-border-radius: 1.375rem;
    -moz-border-radius: 1.375rem;
    padding: 0.35rem 0.75rem;
    border-style: solid;
    border-width: 0.125rem;
    border-color: #eb0033;
    -box-shadow: none;
    transition-duration: 0.4s;
    margin-bottom: 15px;

}

label:hover {
    background-color: red;
    color: white;
}

.mascota-radio {
    display: none;
}

.mascota-radio:checked+label {
    background-color: red;
}

#boton-mascota {
    display: inline-block;
    margin: 10px;
    font-size: 1.6875rem;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.4s;
    border-radius: 20px;
    width: 173px;
    height: 39px;
}

#boton-mascota:hover {
    transition-duration: 0.4s;
    background-color: black;
    color: white
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}



#boton-fuego {
    width: 180px;
    display: inline-block;
    margin: 10px;
    font-size: 1.6875rem;
    background-color: white;
    color: black;
    border: 2px solid red;
    transition-duration: 0.4s;
    border-radius: 10px;
}

#boton-fuego:hover {
    transition-duration: 0.4s;
    background-color: red;
    color: white
}

#boton-agua {
    width: 180px;
    display: inline-block;
    margin: 10px;
    font-size: 1.6875rem;
    background-color: white;
    color: black;
    border: 2px solid blue;
    transition-duration: 0.4s;
    border-radius: 10px;
}

#boton-agua:hover {
    transition-duration: 0.4s;
    background-color: blue;
    color: white
}

#boton-tierra {
    width: 180px;
    display: inline-block;
    margin: 10px;
    font-size: 1.6875rem;
    background-color: white;
    color: black;
    border: 2px solid green;
    transition-duration: 0.4s;
    border-radius: 10px;
}

#boton-tierra:hover {
    transition-duration: 0.4s;
    background-color: green;
    color: white
}

.padre-mascota {
    display: grid;
    grid-template-columns: 200px 200px;
}

.hijo-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 1.375rem;
    -webkit-border-radius: 1.375rem;
    -moz-border-radius: 1.375rem;
    padding: 0.35rem 0.75rem;
    border-style: solid;
    border-width: 0.125rem;
    border-color: #eb0033;
    -box-shadow: none;
    transition-duration: 0.4s;
    margin-bottom: 15px;
}

#mensajes {
    padding-top: 10px;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 1.375rem;
    -webkit-border-radius: 1.375rem;
    -moz-border-radius: 1.375rem;
    padding: 0.35rem 0.75rem;
    border-style: solid;
    border-width: 0.125rem;
    border-color: gray;
    -box-shadow: none;
    transition-duration: 0.4s;
    margin-bottom: 15px;
}

#boton-reiniciar {
    margin: 10px;
    font-size: 1.6875rem;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.4s;
}

#boton-reiniciar:hover {
    transition-duration: 0.4s;
    background-color: black;
    color: white
}

@media (max-width: 360px) {

    .tarjetas,
    .ataque {
        flex-direction: column;
    }
}